/* 
  Style Sheet
   Filename: styles.css

   Author:   
   Date:     
   HTML5 and CSS3 Illustrated Unit G, Lessons
 */

/* reset styles */
html {
   font-size: 16px;
}
a, article, body, div, footer, header, h1, h2, h3, nav, p {
   border: 0;
   padding: 0;
   margin: 0;
}

/* body */
body {
   margin: 0 auto;
   font-family: Arial, Helvetica, sans-serif;
}
p {
   font-size: 1.3em;
   line-height: 1.6em;
}
a:link {
   color: black;
}
a:visited {
   color: #888;
}

/* skip navigation link */
p.skipnavigation a {
   position: absolute;
   left: -10000px;
}
p.skipnavigation a:focus {
   color: ivory;
   background-color: #34180f;
   top: 0.4em;
   left: auto;
   right: 0.4em;
   z-index: 2;
}

/* header section */
h1 {
   text-align: center;
   font-family: Bitter, "Times New Roman", Times, serif;
   font-weight: 700;
   color: black;
   background-color: goldenrod;
   font-size: 2.4em;
}

/* site navigation bar */
nav.sitenavigation {
   color: #34180f;
   text-align: center;
   background-color: goldenrod;
}
nav.sitenavigation p {
   margin: 0.3em 0.5em;
   display: inline-block;
   color: brown;
}
nav.sitenavigation a:link {
   text-decoration: none;
   color: #34180f;
}
nav.sitenavigation a:visited {
   color: #744f42;
}
nav.sitenavigation a:hover, nav.sitenavigation a:focus {
   color: ivory;
}

/* main content */
article {
   margin: 0 auto;
   padding: 1.4em;
   background-color: #7eccec;
}
article div {
   max-width: 800px;
   margin: 0 auto;
   padding: 0 3% 1em;
   background-color: ivory;
}
h2 {
   padding: 0.4em 0.4em 0;
   text-align: center;
   font-family: Bitter, "Times New Roman", Times, serif;
   font-size: 2em;
   font-weight: 700;
}
h3 {
   margin-top: 1.4em;
   font-size: 1.6em;
   font-family: Bitter, "Times New Roman", Times, serif;
   font-weight: 700;
   clear: both;
}
article p {
   padding-top: 1em;
}
article p.pullquote {
   font-size: 1.7em;
}

/* footer section */
footer {
   padding: 0.6em;
   background-color: #34180f;
   color: ivory;
   text-align: center;
}
.accent {
   font-weight: bold;
}

/* print styles */
@media print {
   body, h1, article, footer {
      color: rgb(0,0,0);
      background-color: rgb(255,255,255);
   }
   body {
      max-width: 100%;
   }
   nav {
      display: none;
   }
}
@page {
   margin: 0.75in;
}

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}